@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');



h1, p{
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.list{
    width: 100%;
    height: 600px;
}
.list_h1{
    color: white;
    font-weight: 500;
    font-style: normal;
    left: 50px;
    position: absolute;
    font-size: 48px;
    top: 150px;
}
.main{
    width: 100%;
    height: 100px;
    align-items: center;
}
body{
    background-color: #033E6B;
    margin: 0;
}
.logo_nav{
    position: absolute;
    top: 30px;
    left: 50px;
}

.h1_nav{
    font-family: "Revalia", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: absolute; 
    top: -2px; 
    left: 125px; 
}
.logo_footer{
    width:  64px;
}
.footer{
    width: 100%;
    height: 137px;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0px;
    background-color: #011423;
}
.check_1, .check_2, .check_3{
    width: 80%;
    height: 72px;
    background-color: #FFC373;  
    border-radius: 15px;
}
ul{
    list-style-type: none;
}
li{
    padding-bottom: 30px;
}
.list_ul{
    margin-top: 200px;
}
.new_stack{
    width: 15%;
    height: 7%;
    background-color: #FFC373;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 40px;
}